@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/ivb4kbt.css");

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 60% 100%;
  }
}

#radial-gradient {
  background: radial-gradient(#c6e8f9, #e1e0e25a 37%, #e1e0e280 80%);
  /* background: #c6e8f9; */
  border-radius: 100%;
  mix-blend-mode: overlay;
}

/* Tells device to use GPU to render bg image blur */
#hero-image {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
/* HOME BG ANIMATION */
body {
  background: linear-gradient(270deg, #f04b50 0.1%, #414c59 44.92%, #333 100%);
  /* background-size: cover */
  margin: 0;
  height: 100%;
  min-height: 100dvh;
  background-size: 200% 200%;
  background-position: 60% 100%;
  animation: 2s ease 0s 1 gradient;
}

/* HIDE SCROLLBAR */
#hide-scrollbar::-webkit-scrollbar {
  display: none;
}

#hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* FADE IN ANIMATION */
#fade-in {
  animation: 1s ease-out 0s 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* GLOBAL SCROLLBAR */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  /* display: none; */
}

/* EVENTS SCROLLBAR */
#card::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#card::-webkit-scrollbar-track {
  background: transparent;
}
#card::-webkit-scrollbar-thumb {
  background: #f26f47;
  border-radius: 5px;
  border: #e1e0e2 3px solid;
}
#card::-webkit-scrollbar-thumb:hover {
  background: #f47d59;
}
#card::-webkit-scrollbar-corner {
  background: transparent;
}

/* PROJECTS SCROLLBAR */
#slide::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#slide::-webkit-scrollbar-track {
  background: transparent;
}
#slide::-webkit-scrollbar-thumb {
  background: #e1e0e2;
  border-radius: 5px;
}
#slide::-webkit-scrollbar-thumb:hover {
  background: #e1e0e2;
}
#slide::-webkit-scrollbar-corner {
  background: transparent;
}

/* GOLD BUTTON */
#gold-button {
  font-family: "Hind Guntur", sans-serif;

  background: #af8401;
  overflow: hidden;
}

#gold-button:after,
#gold-button:before {
  height: 60px;
  content: "";
  position: absolute;
  top: 0;
  left: calc(-100% - 30px);
  width: calc(100% + 20px);
  color: #fff;
  border-radius: 2px;
  transform: skew(-25deg);
}

#gold-button:after {
  background: #fff;
  transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
  z-index: -10;
  opacity: 0.8;
}

#gold-button:before {
  background: #c59807;
  z-index: -5;
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}

#gold-button:hover:after {
  left: calc(0% - 10px);
  transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

#gold-button:hover:before {
  left: calc(0% - 10px);
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}
/* RED BUTTON */
#red-button {
  font-family: "Hind Guntur", sans-serif;

  background: #c96363;
  overflow: hidden;
}

#red-button:after,
#red-button:before {
  height: 60px;
  content: "";
  position: absolute;
  top: 0;
  left: calc(-100% - 30px);
  width: calc(100% + 20px);
  color: #fff;
  border-radius: 2px;
  transform: skew(-25deg);
}

#red-button:after {
  background: #fff;
  transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
  z-index: -10;
  opacity: 0.8;
}

#red-button:before {
  background: #d87575;
  z-index: -5;
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}

#red-button:hover:after {
  left: calc(0% - 10px);
  transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

#red-button:hover:before {
  left: calc(0% - 10px);
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}
