@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/ivb4kbt.css");

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 60% 100%;
  }
}

/* HOME BG ANIMATION */
body {
  background: linear-gradient(315deg, #f04b50 0.52%, #414c59 44.92%, #333 100%);
  /* background-size: cover */
  margin: 0;
  height: 100%;
  min-height: 100dvh;
  background-size: 200% 200%;
  background-position: 60% 100%;
  animation: 0.5s ease 0s 1 gradient;
}

/* HIDE SCROLLBAR */
#hide-scrollbar::-webkit-scrollbar {
  display: none;
}

#hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* FADE IN ANIMATION */
#fade-in {
  animation: 1s ease-out 0s 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* GLOBAL SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: none;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #f26f47;
  border-radius: 5px;
  border: #e1e0e2 3px solid;
}
::-webkit-scrollbar-thumb:hover {
  background: #99987a77;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
